#main-cover {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

#main-container {
  min-height: calc(100vh - 250px);
  padding-top: 20px;
  padding-bottom: 20px;
}

#main-container.breadcrumbs-padding {
  padding-top: 45px;
  padding-bottom: 45px;
}

footer {
  width: 100%;
}

h1 {
  margin-top: 0;
}

#mobile-menu {
  width: 100vw;
}

#footer-nav {
  min-height: 80px;
}

#footer-nav-social-container {
  min-width: 10rem;

  ul {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#notification {
  z-index: 5000;
  position: fixed;
  left: 2rem;
  bottom: 0;

  .global-notice {
    min-width: 14rem;
    padding: 14px 48px 14px 24px;
  }
}

.breadcrumbs {
  position: absolute;
  top: 90px;
}

ul#articles-sort-list > li {
  min-width: 7rem;
}

#to-top-button {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 38px;
  height: 38px;
  line-height: normal;
}

#to-top-button.show {
  display: block;
}

.article-card {
  .article-medium {
    img {
      max-height: 250px;
      width: 100%;
      object-fit: cover;
    }
  }
}

#article {
  img {
    max-width: 100%;
    height: auto;
  }

  .article-cover-img {
    width: 100%;
  }

  #article-body {
    width: 100%;
  }
}

#article-comments {
  .comment-p-1 {
    padding-left: 1.5rem;
  }

  .comment-p-2 {
    padding-left: 3rem;
  }

  .comment-p-3 {
    padding-left: 4.5rem;
  }

  .comment-p-4 {
    padding-left: 6rem;
  }

  .comment-p-5 {
    padding-left: 7.5rem;
  }

  .comment-p-6 {
    padding-left: 9rem;
  }

  .comment-p-7 {
    padding-left: 10.5rem;
  }

  .comment-p-8 {
    padding-left: 12rem;
  }

  .comment-p-9 {
    padding-left: 13.5rem;
  }

  .comment-p-10 {
    padding-left: 15rem;
  }
}

#article-toc {
  position: sticky;
  top: 20px;

  .toc-p-1 {
    padding-left: 1rem;
  }

  .toc-p-2 {
    padding-left: 2rem;
  }

  .toc-p-3 {
    padding-left: 3rem;
  }

  .toc-p-4 {
    padding-left: 4rem;
  }

  .toc-p-5 {
    padding-left: 5rem;
  }
}
