#main-container {
  min-height: calc(100vh - 250px);
  padding-top: 20px;
  padding-bottom: 20px;
}

#main-container.breadcrumbs-padding {
  padding-top: 45px;
  padding-bottom: 45px;
}

footer {
  width: 100%;
}

h1 {
  margin-top: 0;
}

#mobile-menu {
  width: 100vw;
}

#footer-nav {
  min-height: 80px;
}

#footer-nav-social-container {
  min-width: 10rem;

  ul {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#notification {
  z-index: 5000;
  position: fixed;
  left: 15px;
  bottom: 0;
  width: calc(100vw - 30px);
}

.breadcrumbs {
  position: absolute;
  top: 90px;
}

ul#articles-sort-list > li {
  min-width: 7rem;
}

.article-card {
  .article-medium {
    img {
      max-height: 250px;
      width: 100%;
      object-fit: cover;
    }
  }
}
