// @import "uikit";
$global-background: #f4f5f7;
$global-primary-background: #ff5252;
$global-secondary-background: #009688;
$global-muted-background: lightgrey;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

@import "layouts";
@import "colors";
