- provide :title, @article.title

- breadcrumb :article, @article
= render partial: 'layouts/partials/breadcrumbs'

= render partial: 'article_content'

= render partial: 'article_links'

= render partial: 'article_comments'
